th {
  border: 0px;
  border-bottom: 1px;
  border-style: solid;
}

td {
  border: 0px;
  border-bottom: 1px;
  border-style: dashed;
}

#food-list-box {
  margin-top: 100px;
  margin-bottom: 100px;
}

#add-food-box {
  margin-top: 100px;
}
